snippet =
	<%= ${1} %>${2}
snippet %
	<% ${1} %>${2}
snippet if
	<% if ${1:conditions} %>${2}
snippet else
	<% else %>${2}
snippet elsif
	<% elsif ${1:conditions} %>${2}
snippet unless
	<% unless ${1:conditions} %>${2}
snippet do
	<% ${1:method_call} do |${2:item}| -%>
	${3}
	<% end -%>
snippet end
	<% end %>${1}
snippet content
	<% content_for :${1:section} do -%>
	${2}
	<% end -%>

